/venv/
/venv/Lib/
/venv/Lib/site-packages/
/venv/Scripts/
/venv/.gitignore
/venv/pyvenv.cfg
/.idea/modules.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/vigenere_cipher.iml
